<div class="container move-from-top">
    <h3 class="text-center">Find your flight</h3>
</div>

<form>
    <div class="container move-from-top">
        <div class="row d-flex justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="form-group">
                        <select class="form-control" ngControl="triptype">
                            <option *ngFor="let op of vrsta">
                                {{op}}
                            </option>
                        </select>
                    </div>
                </div>
                
                <div class="col-md-6 col-lg-4">
                    <div class="form-group">
                    <select class="form-control">
                        <option value="1">1 adult</option>
                        <option value="2">2 adults</option>
                        <option value="3">3 adults</option>
                        <option value="4">4 adults</option>
                        <option value="5">5 adults</option>
                    </select>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="form-group">
                    <select class="form-control">
                        <option value="economy">Economy</option>
                        <option value="premiumeconomy">Premium economy</option>
                        <option value="businessorfirst">Business or First</option>
                    </select>
                    </div>
                </div>

                <div class="col-sm-5 col-md-6">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-plane" style="font-size: 26px;"></i></span>
                    </div>
                    <select class="form-control" placeholder="From">
                        <option value="BG">Belgrade, Serbia</option>
                        <option value="DUB">Dubai, UAE</option>
                        <option value="BER">Berlin, Germany</option>
                        <option value="LON">London, UK</option>
                        <option value="LA">Los Angeles, USA</option>
                        <option value="NYC">New York, USA</option>
                    </select>
                </div>
                </div>

                <div class="col-sm-5 col-md-6">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-plane" style="font-size: 26px;"></i></span>
                    </div>
                    <select class="form-control" placeholder="To">
                        <option value="BG">Belgrade, Serbia</option>
                        <option value="DUB">Dubai, UAE</option>
                        <option value="BER">Berlin, Germany</option>
                        <option value="LON">London, UK</option>
                        <option value="LA">Los Angeles, USA</option>
                        <option value="NYC">New York, USA</option>
                    </select>
                </div>
                </div>

                <div class="col-sm-5 col-md-6">
                <label for="depart">Depart</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-calendar" style="font-size: 26px;"></i></span>
                    </div>
                    <input type="date" class="form-control">
                </div>
                </div>

                <div class="col-sm-5 col-md-6">
                <label for="return">Return</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-calendar" style="font-size: 26px;"></i></span>
                    </div>
                    <input type="date" class="form-control">
                </div>
                </div>
                <button class="btn btn-primary" (click)="getValueFromTrip()" type="button">Search flights</button>
        </div>
    </div>
</form>

<ng-template [ngIf]="roundtrip==true">
    <form style="margin-top: 25px; margin-left: 25px; margin-right: 25px;" >
        <div class="row" >
            <div class="col-sm-6">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Type</th>
                        <th scope="col">From</th>
                        <th scope="col">To</th>
                        <th scope="col">Departure</th>
                        <th scope="col">Price</th>
                    </tr>
                    </thead>
                    <tbody>
    
                        <tr class="table-light">
                            <th scope="row">Light</th>
                            <td>Column content</td>
                            <td>Column content</td>
                            <td>Column content</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-6">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Type</th>
                            <th scope="col">From</th>
                            <th scope="col">To</th>
                            <th scope="col">Departure</th>
                            <th scope="col">Price</th>
                        </tr>
                    </thead>
                    <tbody>
    
                        <tr class="table-light">
                            <th scope="row">Light</th>
                            <td>Column content</td>
                            <td>Column content</td>
                            <td>Column content</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
       
    </form>
</ng-template>
<ng-template [ngIf]="onewaytrip==true">
    <form style="margin-top: 25px; margin-left: 25px; margin-right: 25px;" >
        <div class="row" >
            <div class="col-sm-12">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Type</th>
                        <th scope="col">From</th>
                        <th scope="col">To</th>
                        <th scope="col">Departure</th>
                        <th scope="col">Price</th>
                    </tr>
                    </thead>
                    <tbody>
    
                        <tr class="table-light">
                            <th scope="row">Light</th>
                            <td>Column content</td>
                            <td>Column content</td>
                            <td>Column content</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</ng-template>
