<div class="container move-down">
  <div class="row">
    <div class="col-lg-12">
      <h2>You're the reason we fly!</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 move-down">
      <div class="card border-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">Cheap services</div>
        <div class="card-body">
          <h4 class="card-title">Best Deals</h4>
          <p class="card-text">We’re providing flexible options if you need to change or cancel plans, and we’ve
            taken steps to ensure your safety from before takeoff to after landing.</p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 move-down">
      <div class="card border-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">5* Reviews</div>
        <div class="card-body">
          <h4 class="card-title">Best Deals</h4>
          <p class="card-text">We’re providing flexible options if you need to change or cancel plans, and we’ve
            taken steps to ensure your safety from before takeoff to after landing.</p>
        </div>
      </div>
    </div>

    <div class="card border-primary mb-3 move-down" style="max-width: 20rem;">
      <div class="card-header">24/7 Support</div>
      <div class="card-body">
        <h4 class="card-title">Contact us Email</h4>
        <p class="card-text">
          We're always onlie for our clients to give you best possible experience.
          Contact us at anytime and we will reach you within some minutes.
          Emai: <strong>info@united.com</strong>
        </p>
      </div>
    </div>
  </div>
</div>
