<div class="container move-from-top">
  <h3 class="text-center">Rent-a-car service</h3>
</div>

<form>
  <div class="container move-from-top">
    <div class="row d-flex justify-content-center">
        <div class="col-sm-5 col-md-6">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-map-marker" style="font-size: 24px;"></i></span>
              </div>
              <input type="text" class="form-control" placeholder="Pick-up Location">
            </div>
        </div>

        <div class="col-sm-5 col-md-6">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-map-marker" style="font-size: 24px;"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="Drop-off Location">
          </div>
        </div>

        <div class="col-sm-5 col-md-6">
          <label for="pickdate">Pick-up Date</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-calendar" style="font-size: 24px;"></i></span>
            </div>
            <input type="date" class="form-control">
          </div>
        </div>

        <div class="col-sm-5 col-md-6">
          <label for="picktime">Pick-up Time</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-clock-o" style="font-size: 24px;"></i></span>
            </div>
            <input type="time" class="form-control">
          </div>
        </div>

        <div class="col-sm-5 col-md-6">
          <label for="dropdate">Drop-off Date</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-calendar" style="font-size: 24px;"></i></span>
            </div>
            <input type="date" class="form-control">
          </div>
        </div>

        <div class="col-sm-5 col-md-6">
          <label for="droptime">Drop-off Time</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-clock-o" style="font-size: 24px;"></i></span>
            </div>
            <input type="time" class="form-control">
          </div>
        </div>

      <button class="btn btn-primary">Search cars</button>
    </div>
  </div>
</form>