<div class="container move-from-top">
  <h3 class="text-center">Rent-a-car service</h3>
</div>

<form>
  <div class="container move-from-top">
    <div class="row d-flex justify-content-center">
        <div class="col-sm-5 col-md-6">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-map-marker" style="font-size: 24px;"></i></span>
              </div>
              <input type="text" class="form-control" placeholder="Pick-up Location">
            </div>
        </div>

        <div class="col-sm-5 col-md-6">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-map-marker" style="font-size: 24px;"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="Drop-off Location">
          </div>
        </div>

        <div class="col-sm-5 col-md-6">
          <label for="pickdate">Pick-up Date</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-calendar" style="font-size: 24px;"></i></span>
            </div>
            <input type="date" class="form-control">
          </div>
        </div>

        <div class="col-sm-5 col-md-6">
          <label for="picktime">Pick-up Time</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-clock-o" style="font-size: 24px;"></i></span>
            </div>
            <input type="time" class="form-control">
          </div>
        </div>

        <div class="col-sm-5 col-md-6">
          <label for="dropdate">Drop-off Date</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-calendar" style="font-size: 24px;"></i></span>
            </div>
            <input type="date" class="form-control">
          </div>
        </div>

        <div class="col-sm-5 col-md-6">
          <label for="droptime">Drop-off Time</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-clock-o" style="font-size: 24px;"></i></span>
            </div>
            <input type="time" class="form-control">
          </div>
        </div>

      <button class="btn btn-primary" (click)="searchCars()">Search cars</button>
    </div>
  </div>
</form>

<ng-template [ngIf]="isFindCar">
  <hr>
  <div class="container">
    <div class="row">
      <div class="col">
        <h3>Example search</h3>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Brand</th>
              <th scope="col">Model</th>
              <th scope="col">Year</th>
              <th scope="col">Price per Day</th>
            </tr>
          </thead>
          <tbody>
            <tr class="table-light" *ngFor="let car of exampleCarListSearch">
              <!-- samo prikaz ako je isAvailable = true -->
              <ng-template [ngIf]="car.isAvailable">
                <td>{{ car.brand }}</td>
                <td>{{ car.model }}</td>
                <td>{{ car.year }}</td>
                <td>{{ car.dailyPrice }}$</td>
              </ng-template>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-template>

